/************* Elementi principali ***************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width:70%;
    margin: auto;
}

body {
    font-family: 'Fredoka', sans-serif;
}

header {
    margin: 35px;
}

header h1 {
    color: #e53170;
    text-align: center;
}

main {
    padding: 25px;
}

main > p {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

/************* Blocchi ***************/
.blocchi {
    float: left;
    background-color: #0f0e17;
    box-shadow: 0px 4px 11px 0px;
    color: white;
}

.blocco1 {
    width: 400px;
    height: 130px;
    margin: 25px 10px 0 15px;
    background-color: #0f0e17;
    box-shadow: 0px 4px 11px 0px;
}

.blocco2 {
    width: 400px;
    height: 130px;
    margin: 25px 10px 0 22px;
}

.blocco3 {
    width: 400px;
    height: 130px;
    margin: 25px 10px 0 21px;
}

/************* Stile contenuto Blocchi ***************/
.blocco1 > h2 {
    font-size: 19px;
    padding-left: 142px;
    padding-top: 18px;
}

.blocco1 > p {
    font-size: 19px;
    padding-left: 142px;
    padding-top: 13px;
}

.mail1 {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #17ccf2;
    font-size: 15px;
}

.blocco2 > h2 {
    font-size: 19px;
    padding-left: 142px;
    padding-top: 18px;
}

.blocco2 > p {
    font-size: 19px;
    padding-left: 142px;
    padding-top: 13px;
}

.mail2 {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #17ccf2;
    font-size: 15px;
}




.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.clearfix {
    padding-top: 25px;
}

  .dimensione {
    height: 130px;
    float: left;
  }

